@import "content.css";
@import "rightmenu.css";
.lunbo{
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 1%;
    overflow: hidden;
    border-radius: 5px;
}
.item{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    background-size: cover;
}
.item1{
    background-image: url(../img/Jt.jpg);
}
.item2{
    background-image: url(../img/Jt2.jpg);
    left: 100%;
}
.item3{
    background-image: url(../img/Jt3.jpg);
    left: 200%;
}
footer{
    width: 100%;

    bottom:-220%;
    clear: both;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    background: #72655b;
    margin-bottom: -55px;
}